/*start slyling header*/

header{
	padding: 12px 20px 17px 20px;
	background-color: lightgrey;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 100;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #fa6980;
	margin-right: 90px;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

.li1 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	
}

.li1 a{
	font-size: 11px;
	color: #343638
}
.girl {
	vertical-align: middle;
	margin-left: 39px;
}

/*start stylyng s-1*/

.s-1{
	margin-top: 95px;

}

.container{
	width: 1160px;
	margin: 0 auto;

}

h2{
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
	font-weight: bold;
}

.card-1{
	width: 360px;
	height: 350px;
	display: inline-block;
	position: relative;
	margin-right: 40px;
	border:none;


}



.wrapper-1 {
	width: 360px;
	height: 180px;
	display: inline-block;
	position: relative;
	left: 0;

}



h3{
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	top: 28px;
	left: 40px;
}

.p1 {
	font-size: 13px;
	color: #A9B2B9;
	position: absolute;
	left: 40px;
	top: 246px;
}

.time-1{
	position: absolute;
	left: 40px;
	top: 294px;
}

.card-2{
	width: 360px;
	height: 350px;
	display: inline-block;
	position: relative;
	margin-right: 40px;
	margin-left: -4px;
	
}

.card-3{
	width: 360px;
	height: 350px;
	display: inline-block;
	position: relative;
	margin-left: -4px;
}


/*start styling s-2*/

.s-2{

	margin-top: 58px;
	margin-bottom: 37px;
}

.cardleft{
	width: 760px;
	height: 900px;
	display: inline-block;
	position: relative;
	margin-right: 40px;
	vertical-align: top;
}


.cardleft2{
	position: absolute;
	width: 760px;
	height: 430px;
	bottom: 0;
}

.cardright{
	width: 360px;
	height: 834px;
	display: inline-block;
	margin-left: -4px;
	vertical-align: top;
}


.cardright1{
	margin-bottom: 102px;
}

.cardright2{
	margin-bottom: 102px;
}


/*start styling footer*/

footer{
	width: 100%;
	height: 200px;
	padding: 56px;
	background-color: gray;

}

.logo2{
	color: #FFFFFF;
	font-size: 13px;
	vertical-align: top;
}

.footer1{
	margin-left: 76px;
	margin-right: 93px;
	
}

.footer2{
	margin-right: 93px;

}

.li2 a{
	font-size: 13px;
	font-weight: bold;
	color: #CBD0D3;
	line-height: 150%;
}

.pf{

	display: inline-block;
	margin-left: 100px;
	vertical-align: top;
	font-size: 11px;
	color: #CBD0D3;
}

.social{
	display: inline-block;
	margin-left: 165px;
	vertical-align: top;

}